@import "tailwindcss";

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

:root {
  font-family: system-ui, sans-serif;
  line-height: 1;
  font-weight: 400;

  --cl-black: #0e0e10;
  --cl-white: #cbd0cc;

  color-scheme: light dark;
  color: var(--cl-white);
  background-color: var(--cl-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--cl-black);
    background-color: var(--cl-white);
  }
}
